.invoices-content {
  padding: 20px;
}

.updateStatusButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.updateStatusButton:hover {
  background-color: #45a049;
}